@charset "utf-8";

/*  Color Scheme (light-dark)   */
/* Primary:   #220A29 - #621D77 */
/* Secondary: #351825 - #9E4770 */
/* Accent:    #AD6B00 - #FFBA49 */

:root {
    color-scheme: light dark;

	--text-color: light-dark(hsl(0 0 10), hsl(0 0 90));
	--light-text-color: hsl(0 0 90);
	--dark-text-color: hsl(0 0 10);

	--primary-color: hsl(286, 61%, 29%);
	--secondary-color: hsl(332, 38%, 45%);
	--accent-color: light-dark(hsl(37, 100%, 34%), hsl(37, 100%, 64%));

	--primary-color-20: hsl(286, 61%, 49%);

	--background: light-dark(hsl(0 0 95), hsl(0 0 5));
	--background-10: light-dark(hsl(0 0 85), hsl(0 0 15));
	--background-20: light-dark(hsl(0 0 80), hsl(0 0 20));

    --heading-size: 2rem;
    --text-size: 1rem;

	--heading-space: 10px;

	--default-bradius: 10px;
}

.light-theme { color-scheme: only light; }
.dark-theme { color-scheme: only dark; }

* {
	padding: 0px;
	margin: 0px;

	box-sizing: border-box;
	vertical-align: middle;
}

body {
    height: 100svh;
    /* width: 100svw; */

	font: var(--text-size) Arial, Helvetica, sans-serif;
	color: var(--text-color);
	background-color: var(--background);

	h1 { margin: var(--heading-space); }
	hr { border-color: var(--text-color); }
	a { color: var(--text-color); }
	a:hover { color: var(--accent-color) }

	.default-button {
		display: inline-block;
		padding: 5px;

		cursor: pointer;
		user-select: none;

		border: none;
		border-radius: var(--default-bradius);
		box-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.30);

		&, & > a {
			color: var(--light-text-color);
			font-size: var(--text-size);
			font-weight: bold;
			text-decoration: none;
		}
		background-color: var(--primary-color);

		&:hover {
			background-color: var(--primary-color-20);
		}
	}

	.secondary-button {
		border: 2px solid var(--secondary-color);
		border-radius: var(--default-bradius);
		background-color: transparent;

		cursor: pointer;
		user-select: none;

		&:hover {
			background-color: var(--secondary-color);
			svg { fill: var(--light-text-color); }
		}
	}
}